{% assign site = pkg.site | merge: site | attr_set: 'styles', pkg.site.styles | attr_concat: 'styles', site.styles %}

{% capture body %}
  <main class="container breakout-all">{{ content }}</main>
  <footer style="text-align: center">{{ site.footer }} © {{ site.year }}</footer>
{% endcapture %}

{% include blades/html.liquid %}
