{% set site = pkg.site | merge(site) %}
{% extends 'blades/html.njk' %}

{% block body %}
  <main class="container breakout-all">{{ content | safe }}</main>
  <footer style="text-align: center"><hr>{{ site.footer | safe }} © {{ site.year }}</footer>
{% endblock %}
