{% set site = pkg.site | merge(site) %}
{% set content_for_header %}{{ content_for_header | safe }}<meta name="generator" content="{{ site.generator }}">{% endset %}
{% extends 'blades/html.njk' %}

{% block body %}
  <main><article class="prose lg:prose-xl xl:prose-2xl breakout-all">{{ content | safe }}</article></main>
  <footer class="prose text-center"><hr>{{ site.footer | safe }} © {{ site.year }}</footer>
{% endblock %}
