{% assign site = pkg.site | merge: site %}

{% capture body %}
  <main class="container breakout-all">{{ content }}</main>
  <footer style="text-align: center">{{ site.footer }} © {{ site.year }}</footer>
{% endcapture %}

{% include blades/html.liquid %}
